{# templates/admin_dashboard/index.html.twig #}

<h1>Tableau de bord de l'administrateur</h1>

<h2>Liste des Artistes</h2>

{# Liste des producteurs #}
<h3>Producteurs</h3>
<ul>
    {% for artist in producers %}
        <li>{{ artist.name }}</li>
    {% else %}
        <li>Aucun producteur trouvé.</li>
    {% endfor %}
</ul>

{# Liste des beatmakers #}
<h3>Beatmakers</h3>
<ul>
    {% for artist in beatmakers %}
        <li>{{ artist.name }}</li>
    {% else %}
        <li>Aucun beatmaker trouvé.</li>
    {% endfor %}
</ul>

{# Liste des chanteurs #}
<h3>Chanteurs</h3>
<ul>
    {% for artist in singers %}
        <li>{{ artist.name }}</li>
    {% else %}
        <li>Aucun chanteur trouvé.</li>
    {% endfor %}
</ul>

{# Liste des musiciens #}
<h3>Musiciens</h3>
<ul>
    {% for artist in musicians %}
        <li>{{ artist.name }}</li>
    {% else %}
        <li>Aucun musicien trouvé.</li>
    {% endfor %}
</ul>

<h2>Collaborations</h2>
<ul>
    {% for collaboration in collaborations %}
        <li>{{ collaboration.title }}</li>
    {% else %}
        <li>Aucune collaboration trouvée.</li>
    {% endfor %}
</ul>
