{% extends 'base.html.twig' %}

{% block title %}Liste des Musiciens{% endblock %}

{% block body %}
    <h1>Liste des Musiciens</h1>
    <ul>
        {% for musicien in musiciens %}
            <li>
                <strong>{{ musicien.nom }}</strong><br>
                Instrument: {{ musicien.instrument }}<br>
                Genre: {{ musicien.genre_musical }}<br>
                Ville: {{ musicien.city }}<br>
                <img src="{{ asset('uploads/' ~ musicien.photo) }}" alt="{{ musicien.nom }}" width="100">
            </li>
        {% else %}
            <p>Aucun musicien disponible pour le moment.</p>
        {% endfor %}
    </ul>
{% endblock %}
